<h1>Who We Are:</h1>
<div id=info>
<p>Bearfoot Cubs is the wholesome home of hand-made and upcycled creations crafted by Jasmine Ofaolain.</p>
Made by a real mama for the real cubs of this world, our clothing aims to meet the durable needs of your wildlings as they grow and play, whilst being gentle on the earth and our ethics.</p>
<p>Bearfoot Cubs was born from a passion to share products that Jasmine herself had loved in her parenting journey. However, we quickly evolved as her own passion for crafting took over her business, her heart...and let's be honest...her home.</p>
<p>Bearfoot Cubs prides ourself on creating high quality, durable, yet absolutely adorable product that survive the test of time. We believe that the world of fast fashion is contributing to the rapid decline of our treasured home, and as an act of gentle rebellion, have chosen a new path forward.</p>
<p>Bearfoot Cubs products are handmade locally in Heidelberg Heights from upcycled and vintage fabrics. Both saving quality textiles from going to landfill and supporting the movement of local artisan businesses. The choice to use natural fibres, such as 100% wool, means Bearfoot Cubs can proudly create products that not only feel good to us, but feel good to the earth.</p>
<p>Another glorious benefit to the hand-crafted nature of all the Bearfoot Cubs products is that every item is completely unique. This means every item is made with care and attention. When you receive your purchase you can feel it has been lovingly created, from the original selection of fabrics all the way to packaging up the final item to send to you.</p>
<p>When you buy with Bearfoot Cubs you can be assured that not only are you getting a beautiful item to treasure, but you are supporting a creative mama, her family, and the earth we live on.</p>
</div>