// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#info {
    width: 70%,;
    align-items: center;
    background-color: bisque;
    padding:2%;

}